
    <!-- footer -->
    <footer class="footer py-md-5 pt-md-3 pb-sm-5">
        <div class="container">
            <div class="">
                <div class="">
                    <h2>
                        <a class="navbar-brand" href="">
                            <center>SuFarNamaA</center>
                        </a>
                    </h2>
                </div>

            </div>
        </div>
        <!-- //footer bottom -->
    </footer>
    <!-- //footer -->
    <!-- copyright -->
    <div class="cpy-right text-center">
        <p class="text-bl">© 2020 SuFarNamaA. Design by
            Developer ==>"A"
        </p>
    </div>
    <!-- //copyright -->
    <!-- move top icon -->
    <a href="#home" class="move-top text-center">
        <span class="fa fa-level-up" aria-hidden="true"></span>
    </a>
    <!-- //move top icon -->


</body>

</html>
