<%include header%>

    <!-- banner -->
    <section class="banner">
        <!-- banner text -->
        <div class="container">
            <div class="banner_text_wthree_pvt">
                <h3 class="home-banner-w3">helping you with any of your business needs!</h3>

                <p class="bnr-txt">Yours Dreams Comes True

                </p>
            </div>
        </div>
        <!-- //banner text -->
    </section>
    
    <section class="single_grid_w3_main align-w3-abt" id="about"></section>
        <div class="container">
            <h1>Welcome to Celebrations </h1>
        </div>
    </section>
    <div class="wthree_pvtits-services align-w3">
            <h2>Contact Here</h2>
    </div>

<%include footer%>