<%include userheader%>

    <!-- banner -->
    <section class="banner">
        <!-- banner text -->
        <div class="container">
            <div class="banner_text_wthree_pvt">
                <h3 class="home-banner-w3">helping you with any of your business needs!</h3>

                <p class="bnr-txt">Yours Dreams Comes True

                </p>
            </div>
        </div>
        <!-- //banner text -->
    </section>

    <center>
        <div class="container">
            <h1 style="padding-top:10px">Welcome to User Panel</h1>
        </div>
    </center>

<%include userfooter%>
